<form class="profile-search-form" [formGroup]="searchForm">
  <label class="tt-form-label">
    <span class="tt-form-label__title">Name</span>
    <input type="text" class="tt-form-input" formControlName="firstName">
  </label>
  <label class="tt-form-label">
    <span class="tt-form-label__title">Lastname</span>
    <input type="text" class="tt-form-input" formControlName="lastName">
  </label>
  <label class="tt-form-label">
    <span class="tt-form-label__title">Skills</span>
    <input type="text" class="tt-form-input" formControlName="stack">
  </label>
</form>
