<img class="ml16" src="/assets/svg/sidebar/logo.svg">

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">
  Subscribers
</p>


@for (profile of subscribers$ | async; track profile.id) {

  <app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a [routerLink]="['/ subscribers']" class="to-subscribers-link medium-text">
    All Subscribers
  </a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>


<footer class="sidebar__footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img [ngSrc]="me.avatarUrl | imgUrl" width="30" height="30" alt="avatar">
    } @else {
      <img src="/assets/images/avatar-placeholder.png" alt="avatar">
    }

    <div class="medium-text username-text">
      {{ me.username }}
    </div>

    <a [routerLink]="['settings']" class="settings-btn">
      <svg icon="settings">
      </svg>
    </a>
  }
</footer>
