<img class="ml16" src="/assets/svg/sidebar/logo.svg">

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">
  Subscribers
</p>


@for (profile of subscribers$ | async; track profile.id) {

  <app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a [routerLink]="['/ subscribers']" class="to-subscribers-link medium-text">
    All Subscribers
  </a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>
