<app-profile-header>
</app-profile-header>

<form class="profile-form__wrapper" [formGroup]="form">
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label__title">Name</span>
        <input type="text" class="tt-form-input" formControlName="firstName">
      </label>
      <label class="tt-form-label">
        <span class="tt-form-label__title">Lastname</span>
        <input type="text" class="tt-form-input" formControlName="lastName">
      </label>
    </div>
    <label class="tt-form-label">
      <span class="tt-form-label__title">Username</span>
      <input type="text" class="tt-form-input" formControlName="username">
    </label>
    <label class="tt-form-label">
      <span class="tt-form-label__title">About me</span>
      <textarea formControlName="description" class="tt-form-input tt-textarea" rows="4"></textarea>
    </label>
    <label class="tt-form-label">
      <span class="tt-form-label__title">Stack</span>
      <input type="text" class="tt-form-input" formControlName="stack">
    </label>

    <div>
      <div>
        <button class="btn" (click)="onSave()">
          Save
        </button>
      </div>
    </div>
  </div>




</form>
